
# GENERAL
**/.idea/
**/__pycache__/
**/*.swp
**/.venv/

# CONFIGS
**/src/conf/local.conf

# YOCTO
**/assembly/build*/
**/assembly/logs/
**/assembly/original_poky/
**/assembly/poky/
**/assembly/meta*/

# EXPERIMENT
**/auto_conf/experiment.conf
**/auto_conf/conf/local.conf
**/experiment/results/

