
# GENERAL
**/.idea
**/logs
**/*.swp
**/conf/local.conf
**/save_orirginal_config/

# YOCTO
**/assembly/build*
**/assembly/poky
**/assembly/meta*

**/__pycache__/*

# EXPERIMENT
**/auto_conf/experiment.conf
**/experiment/test*

