
# GENERAL
**/.idea
**/__pycache__/*
**/*.swp

# CONFIGS
**/src/conf/local.conf

# YOCTO
**/assembly/build*
**/assembly/logs
**/assembly/poky
**/assembly/meta*

# EXPERIMENT
**/auto_conf/experiment.conf
**/auto_conf/conf/local.conf
**/experiment/test*
**/experiment/times

